*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgba(0,0,0,0.9);
}

header{
    width: 100%;
    min-width: 320px;
    min-height: 200px;
    max-height: 200px;
    background-image: url('https://i.postimg.cc/jSw-bFMpb/header3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
}

header h1{
    color: rgba(255, 255, 255, 0.899);
    width: 100%;
    font-size: 3.6rem;
}

.contenedor-padre-figuras{
    width: 100%;
    height: auto;
    margin-top: 10px;
    min-width: 320px;
   
    
}

.figuras-geometricas{
    
    width: 90%;
    height: 240px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(153, 146, 146, 0.886);
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 16px;
    grid-auto-rows: 100px ;
    justify-items: center;
    text-align: center;
    border-radius: 20px;
  
}

.figuras-geometricas .figuras{
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
    border-radius: 16px;
}

.figuras-geometricas .figuras:hover{
    transform: scale(1.05 , 1.05);
    cursor: pointer;
}
.figuras-geometricas .figuras img{
    width: 80%;
    height: 70%;
    object-fit: contain;
    
}

.figuras-geometricas .figuras span{
    font-size: 1.4rem;
    font-weight: 500;
}

.contenedor-valores{
    width: 100%;
    height: auto;
    min-width: 320px;
}

.valores-figuras{
    width: 90%;
    min-height: 100px;
    margin: 10px auto;
    background-color: rgba(153, 146, 146, 0.886);
    border-radius: 20px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;

}

.valores-figuras h2{
   padding: 10px;
    text-align: center;
    color: rgb(224, 225, 241);
    font-size: 2.0rem;
}

.inputs{
    width: 50%;
    min-width: 100px;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.inputs label {
    color: rgba(255, 255, 255, 0.899);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.inputs label input{
    width: 50px;
    margin-left: 40px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.219);
    outline: none;
    color: rgba(255, 255, 255, 0.899); 
}

.valores-figuras button{
    width: 60%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid orange;
    background-color: rgba(0, 0, 0, 0.219);
    color: rgba(255, 255, 255, 0.899);
    align-self: center;
   
}

.contenedor-resultados{
    width: 100%;
    min-width: 320px;
    height: auto;
}

.resultados h2{
    padding: 10px;
    text-align: center;
    color: rgb(224, 225, 241);
    font-size: 2.0rem;

}


.resultados{
    width: 90%;
    min-height: 100px;
    margin: 0 auto;
    background-color: rgba(153, 146, 146, 0.886);
    border-radius: 20px;
}


.entrega-resultados{
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.entrega-resultados p{
    font-size: 1.4rem;
    color:#402f4a;

}
.entrega-resultados div{
    background-color: rgba(0, 0, 0, 0.219);
    padding: 10px;
    width: 70%;
    margin: 5px auto;
    color: aquamarine;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
    
}

.buttom-borrar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.buttom-borrar button{
    padding: 8px;
    width: 60%;
    border-radius: 6px;
    background-color:rgba(0, 0, 0, 0.219) ;
    border:2px solid orange ;
    margin-bottom: 10px;
}
